:root {
  /* Typography */
  --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  --font-size-base: 1rem; /* 14px */
  --font-size-small: 0.75rem;
  --font-size-medium: 1.25rem; /* 17.5px */
  --font-size-intermediate: 1.5rem; /* 21px */
  --font-size-large: 1.75rem; /* 24.5px */
  --font-size-xl: 1.9rem;
  --line-height-base: 1.6; /* 22.4px */
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* Spacing */
  --spacing-base: 0.5rem; /* 7px */
  --padding-base: 1rem; /* 14px */
  --padding-small: 0.5rem; /* 7px */
  --margin-base: 1rem; /* 14px */
  --margin-bottom: 0.5rem; /* 7px */
  --width-container-max: 1100px;
  --gap-base: 0.25rem;

  /* Base Colors */
  --color-background-primary: #ffffff;
  --color-background-secondary: #f7f7f7;
  --color-main-background: #ececec;
  --color-text-primary: #333;
  --color-text-secondary: #6e6e6e;
  --color-text-header: #2d2d2d;
  --color-container1-background: #e0e0e0;
  --color-neutral-very-light: #f9fafb;
  --color-neutral-mid-light: #d3d3d3;

  /* Header Colors */
  --color-header-background: #f8f8f8;
  --color-header-text: #1a1a1a;

  /* Accent Colors */
  --color-accent: #007aff;
  --color-accent-hover: #005fcbef;
  --color-accent-pressure: #007bff6f;
  --color-text-on-accent: #ffffff;

  /* Selection Colors */
  --color-selection-outline: #0076ff80;

  /* Semantic Colors */
  --color-red: #cc4b4c;
  --color-blue: #4c81cc;
  --color-yellow: #e1b64a;

  /* Window and Container */
  --color-window: #ffffff;
  --color-container-border: #d1d6dc;

  /* Error Colors */
  --color-error: #e53e3e;
  --color-error-background: #fee2e2;
  --color-error-text: #86181d;

  /* Borders and Radius */
  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-base: 8px;

  /* Shadows */
  --shadow-base: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);

  /* Interactive States */
  --button-press-scale: scale(0.95);
  --button-hover-scale: scale(1.01);

  /* Transitions */
  --transition-base: all 0.3s ease;
  --transition-duration: 0.2s;
  --transition-easing: ease-out;
  --button-press-transition: 0.4 ease-in-out;
  --button-hover-transition: background-color 0.3s ease;

  /* System */
  --system-font-smoothing: antialiased;
  
}

/*
  ================================
  SECTION: Base Styles
  ================================
*/

/*
  --------------------------------
  SUBSECTION: Reset/Normalise
  --------------------------------
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Ensure consistent border, margin, and padding for all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
  --------------------------------
  SUBSECTION: Page Defaults
  --------------------------------
*/

html {
  font-family: var(--font-family-system);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-main-background);
  font-family: var(--font-family-system);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: var(--system-font-smoothing);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 1s ease-in-out;
}

/*
  --------------------------------
  SUBSECTION: Headings
  --------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.25rem;
}

h2 {
  font-size: var(--font-size-medium);
}


/*
  ================================
  SECTION: Components
  ================================
*/

/*
  --------------------------------
  SUBSECTION: Text Elements
  --------------------------------
*/

/* Paragraphs */
p {
  margin-bottom: var(--margin-bottom);
}

/* Bold Text */
strong {
  font-weight: var(--font-weight-bold);
}

/*
  --------------------------------
  SUBSECTION: Forms
  --------------------------------
*/

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

/*
  --------------------------------
  SUBSECTION: Button 
  --------------------------------
*/

button {
    margin-top: 0.25rem;
    padding:  var(--padding-small);
    border-radius: var(--border-radius-base);
    background-color: var(--color-accent);
    color: var(--color-text-on-accent);
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

}

button:hover {
  background-color: var(--color-accent-hover);
  transition: var(--button-hover-transition);
  transform: var(--button-hover-scale);
}

button:active {
  transform: var(--button-press-scale); 
  transition: var(--button-press-transition);

}

/*
  --------------------------------
  SUBSECTION: Text Input
  --------------------------------
*/

input[type="text"] {
    padding: var(--padding-small);
    border: 1px solid var(--color-container-border);
    border-radius: var(--border-radius-base);
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid var(--color-selection-outline);
    box-shadow: 0 0 0 1px var(--color-selection-outline);
}


/*
  --------------------------------
  SUBSECTION: Forms
  --------------------------------
*/

select {
    padding: var(--padding-small);
    border: 1px solid var(--color-container-border);
    border-radius: var(--border-radius-base);
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    gap: var(--gap-base);
}

select:focus {
    outline: none;
    border: 1px solid var(--color-selection-outline);
    box-shadow: 0 0 0 1px var(--color-selection-outline);
}


/*
  ================================
  SECTION: Layout
  ================================
*/

/*
  --------------------------------
  SUBSECTION: Main Content Area
  --------------------------------
*/

main {
  margin: 0 auto;
  max-width: var(--width-container-max);
  margin-top: var(--margin-base);
}

/*
  --------------------------------
  SUBSECTION: Section Styling
  --------------------------------
*/

section {
  margin-bottom: var(--margin-bottom);
  padding: 0.5rem;
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius-base);
}

/*
  --------------------------------
  SECTION: Header
  --------------------------------
*/

header {
  background-color: var(--color-header-background);
  padding: 1.25rem 0;
  box-shadow: var(--shadow-small);
  margin-bottom: 1.25rem;
  border-radius: var(--border-radius-base);
}

header h1 {
    color: var(--color-header-text);
    text-align: center;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    margin: 0;
}

/*
  ================================
  SECTION: Search Section
  ================================
*/

/* .search-location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-base);
    padding: var(--padding-base);
    background: var(--color-background-primary);
    border-radius: var(--border-radius-base);

} */

/*
  ================================
  SECTION: Prediction Section
  ================================
*/

#predictionText {
    margin-top: var(--padding-base);
    margin-bottom: 0;
}


/*
  ================================
  SECTION: Main Section
  ================================
*/

.main-section {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-base);
}

/*
  --------------------------------
  SUBSECTION: Stations Container
  --------------------------------
*/

.information-container {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}

.selected-station-container, .best-station-container, .find-route-container, .search-prediction-container {
    background: var(--color-background-primary);
    padding: var(--padding-base);
    border-radius: var(--border-radius-base);
    box-shadow: var(--shadow-base);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    background: var(--color-background-primary);
    padding: var(--padding-base);
    border-radius: var(--border-radius-base);
    box-shadow: var(--shadow-base);
}

.station-route-container, .search-prediction-form{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

.search-inputs-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

/*
  --------------------------------
  SUBSECTION: Map Container
  --------------------------------
*/

.map-window-container {
  padding: var(--padding-small);
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius-base);
  flex-grow: 1;
  height: 45rem;
  margin-bottom: var(--margin-bottom);
}

.map-container {
  flex-grow: 1;
  height: 44rem;
  border-radius: var(--border-radius-base);
  overflow: hidden;
}