<!-- Placeholder HTML -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Weather Data</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Weather Data</h1>
    <div>
      {% for weather in weather_data %}
      <div class="weather">
        <h2>{{ weather.Timestamp }}</h2>
        <p>Temperature: {{ weather.Temperature }}°C</p>
        <p>Feels Like: {{ weather.FeelsLike }}°C</p>
        <p>
          Min Temp: {{ weather.TempMin }}°C, Max Temp: {{ weather.TempMax }}°C
        </p>
        <p>Pressure: {{ weather.Pressure }} hPa</p>
        <p>Humidity: {{ weather.Humidity }}%</p>
        <p>Visibility: {{ weather.Visibility }} meters</p>
        <p>
          Wind: {{ weather.WindSpeed }} m/s, Direction: {{ weather.WindDeg }}°
        </p>
        <p>Cloudiness: {{ weather.Cloudiness }}%</p>
        <p>Condition: {{ weather.WeatherCondition }}</p>
        <p>Description: {{ weather.WeatherDescription }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
